{
  "plugins": ["react-native"],
  "extends": [
    "wix/react",
    "wix/esnext"
  ],
  "rules": {
    "no-unused-labels": 0,
    "no-labels": 0,
    "no-use-before-define": 0,
    "react/jsx-closing-bracket-location": 0,
    "default-case": 0,
    "lodash/import-scope": 0,
    "react/jsx-handler-names": 0,
    "no-restricted-globals": ["error", "fit", "fdescribe"],
    "no-alert": 0
  },
  "globals": {
    "waitFor": true,
    "device": true
  }
}